* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.note-app {
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    background-color: black;
    height: 100vh;
}